*{
    font-family: "poppins";
}
body{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.button:hover{
    background: linear-gradient(to bottom right, #7f7fd5, #91eae4);
    color: #ffffff;
    font-weight: 600;
}
.card{
    border: 1px solid rgba(255,255,255, .1)  
}
.card:hover {
    cursor: pointer;
    color: #111;
    background: greenyellow;
    box-shadow: 0 0 20px white; 
    transition: 0.3s;
}